h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #0066cc;
}

h3 {
	font-family: 'Playfair Display', serif;
}

a {
	text-decoration: none;
	color: #66cc00;
}

#logo {
	position: relative;
	bottom: 50%;
	text-align: center;
}